<div class="container">
    <div class="image">
        <img src="pfp.jpg" alt="">
        <p class='name'>Rahmani aness</p>
        <h3>developer </h3>
    </div>
       <!-- <span><h4 style="display:inline">Country:</h4> Algeria</span> -->
            <!-- <div class="languages">
            <h3>languages:</h3>
            <ul>
                <li><span class="lng">Arabic:</span>Native</li>
                <li><span class="lng">English:</span>C2 Proficient</li>
                <li><span class="lng">French:</span>C1 Advanced</li>
            </ul>
            </div>
            <div class="skills">
                <h4></h4>
                <p></p>
                <p></p>
                <p></p>
                
                </div>
                <div class="soft">
                
                   <h4> soft skills:</h4>
                    <p>problem solving</p>
                    <p>flexibility</p>
                    <p>communication skills</p>
                    <p>typing speed: 80wpm</p>
                    <p>teamwork</p>
                

            </div> -->
           
    <div class="contact">
    <span class="social "><span> <i class='bx bxl-gmail' ></i></span><span class="txt" style="cursor:pointer;" >email: <br> d.rahmanianess.gmail.com</span></span>
    <span class="social linkedin"><span><i class='bx bxl-linkedin-square' ></i></span><span class="txt">LinkedIn:<br><a class="txt" href="https://www.linkedin.com/in/rahmani-aness-1bb2a424b/">Aness Rahmani</a></span></span>
    <span class="social telegram"><span><i class='bx bxl-telegram' ></i></span><span class="txt">Telegram:<br><a class="txt" href="https://t.me/aness_as" >aness_as</a></span></span>
    <span class="social github"><span><i class='bx bxl-github' ></i></span><span class="txt">Github:<br><a class="txt" href="https://github.com/aness793/">aness793</a></span></span>
    <span class="social upwork" style="padding-bottom:.5rem;"><span><i class='bx bxl-upwork' ></i></span><span class="txt">UpWork:<br><a class="txt" href="https://www.upwork.com/freelancers/anessr">Aness R</a></span></span>
    </div>

</div>